<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleDisplayName</key><string>Haven</string>
  <key>UILaunchScreen</key><dict/>
  <key>NSAppTransportSecurity</key><dict>
    <key>NSAllowsLocalNetworking</key><true/>
  </dict>
  <key>CFBundleURLTypes</key><array><dict>
    <key>CFBundleURLName</key><string>app.haven.HavenApp</string>
    <key>CFBundleURLSchemes</key><array><string>havenapp</string></array>
  </dict></array>
</dict></plist>
